<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="nlog-internal.log">

    <targets>
        <target xsi:type="File" name="logfile" fileName="${basedir}/logs/${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,Data}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Warning" writeTo="logfile"/>

        <logger name="Api.*" minlevel="Trace" writeTo="logfile"/>
        <logger name="Configuration.*" minlevel="Trace" writeTo="logfile"/>
        <logger name="Domain.*" minlevel="Trace" writeTo="logfile"/>
        <logger name="Database.*" minlevel="Trace" writeTo="logfile"/>
        <logger name="Service.*" minlevel="Trace" writeTo="logfile"/>
        <logger name="Logging.*" minlevel="Trace" writeTo="logfile"/>
        <logger name="Monitoring.*" minlevel="Trace" writeTo="logfile"/>
        <logger name="Utility.*" minlevel="Trace" writeTo="logfile"/>
    </rules>
</nlog>
